body {
  margin: 0;
  padding: 0;
}
/**
  *color used
  *c9c9c9
  *e0e0e0
*/
/* menu style */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  transition: display 1.7s ease;
}
.hide {
  display: none;
}
nav > ul > li > a {
  display: block;
  color: black;
  text-shadow: 2px 2px 13px #f0f8ff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
}
nav > ul > li {
  float: left;
}
nav > ul > li:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.menuOnTheRight {
  float: right;
}
nav > ul > li:hover:after {
  width: 100%;
  background: cornflowerblue;
}

.activeBackground {
  background-color: #f0f8ff;
}
.activeBackground > ul > li > a {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-color: black;
}
.active::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  background: #5a86d5;
}

/*main */
main {
  margin: 0;
  padding: 0;
}
/*Home*/

#Home > .Home__img {
  background-image: url("../images/main1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 130%;
  position: relative;
}
.Home__title {
  display: flex;
  justify-content: center;
}
.Home__titleBackground {
  background-color: #c9c9c9;
  opacity: 0.4;
  position: absolute;
  height: 9em;
  width: 100%;
  top: 48%;
  z-index: 2;
}
.Home__title > p {
  z-index: 3;
  margin: 0;
  position: absolute;
  top: 50%;

  font-family: "Roboto", sans-serif;
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
/*work*/
#Work {
  background-color: #c9c9c9;
  margin: 0;
  padding-top: 5em;
  padding-bottom: 5em;
}

.Work__content {
  padding: 20px;
  margin-left: 5em;
  margin-right: 5em;
  background-color: #e0e0e0;
}
.Work__title {
  display: flex;
  justify-content: center;
}
.Work__title > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
}
.row {
  display: flex;
  padding-bottom: 4em;
  line-height: 1.8em;
}
.img__wrap {
  position: relative;
  height: 100%;
  z-index: 3;
}

.img__description {
  position: absolute;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #76baeb;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  padding-left: 0.7em;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.img__wrap:hover .img__description,
.img__wrap:hover > img {
  visibility: visible;
  opacity: 1;
}
.columnOf3 {
  flex: 33.33%;
  padding: 2px;
}
.columnOf2 {
  flex: 50%;
  padding: 2px;
}
.columnWithImage {
  flex: 100%;
}
.columnWithTextOnTheRight {
  padding-left: 12px;
  flex: 100%;
}
.columnWithTextOnTheLeft {
  padding-right: 12px;
  flex: 100%;
}
/*Contact us*/
#ContactUs {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
}
.ContactUS__title {
  padding: 100px;
  align-items: center;
}
.ContactUS__title > h1 {
  font-family: "Roboto", sans-serif;

  margin: 0;
}
.ContactUs__info {
  margin: 20px;
  padding: 20px;
  border: black 1px solid;
}
.ContactUs__email {
  display: flex;
}
.ContactUs__email > p {
  margin: 0;
  font-size: large;
}

.ContactUs__adress {
  margin-top: 5px;
  display: flex;
}
.ContactUs__adress > p {
  margin: 0;
  font-size: large;
}
